<div class="row">
	<h1>Events</h1>
</div>
<div class="row">
	<div class="col col-md-6 pull-right event-panel" ng-show="showPanel">
		<div class="pull-left">
			<h3 contentEditable="{{selectedEvent.editing}}">
				{{selectedEvent.name}}
			</h3>

			<p>
				<i>By</i>
				<span class="label label-default">
					{{selectedEvent.creator}}
				</span>
			</p>
			<p contentEditable="{{selectedEvent.editing}}">
				{{selectedEvent.description}}
			</p>

<!-- 			<input 
			type="text" 
			class="form-control" 
			datepicker-popup="dd-MMMM-yyyy" 
			ng-model="dt" 
			open="opened" 
			min="minDate" 
			max="'2015-06-22'" 
			datepicker-options="dateOptions" 
			date-disabled="disabled(date, mode)" 
			ng-required="true"
			data-ng-readonly="true"
			/>
 -->

			<form class="form-horizontal">
				<div class="form-group">
					<label for="startDate">Starts:</label>

					<input type="text" name="startDate" class="form-control" value="{{selectedEvent.timerange.start}}" data-ng-readonly="!selectedEvent.editing"
					data-ng-disabled="!selectedEvent.editing"/>
				</div>
				<div class="form-group">
					<label for="endDate">Ends:</label>

					<input type="text" name="endDate" class="form-control" value="{{selectedEvent.timerange.end}}" data-ng-readonly="!selectedEvent.editing"
					data-ng-disabled="!selectedEvent.editing"/>
				</div>

				<button data-ng-show="currentUser.id === selectedEvent.creator" class="btn btn-default" data-ng-click="selectedEvent.editing = !selectedEvent.editing">
					Edit Event
				</button>
			</form>

		</div>
	</div>

	<div class="pull-left list-group all-events col" ng-class="{'col-md-6': showPanel}">
		<a ng-repeat="event in recentEvents" class="list-group-item" ng-click="viewEvent(event)">
			<h3 class="list-group-item-heading">
				{{event.name}}
			</h3>

			<p class="list-group-item-text blurb">
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
				ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
				sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
				odio dui.
			</p>
			<button class="btn btn-primary" > 
				View details 
			</button>
		</a>
	</div>
</div>