.mycss-animation {
	-webkit-transition: 1s linear all;
	-moz-transition: 1s linear all;
	-o-transition: 1s linear all;
	transition: 1s linear all; /* future proof */
	background: red;
}

.mycss-animation.mycss-animation-active {
	background: blue;
}

body {
	font-family: "Verdana", sans-serif;
}